.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 80px;
    height: 80px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .card.flipped {
    background-color: #61dafb;
    color: #fff;
  }
  
  .card.flipped:active {
    background-color: #2185d0;
  }
  